<!-- <h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p> -->



<h1>ADD A NEW POST HERE!</h1>


<%= form_for [@author, @post], url: author_posts_path do |x| %>
  <%= x.label :title %>
  <%= x.text_field :title, :placeholder => "About a Thing", autofocus: true %>

   <%= x.label :category %>
  <%= x.text_field :category, :placeholder => "Stuff" %>

   <%= x.label :body %>
  <%= x.text_field :body, :placeholder => "Blah Blah My feelings Blah Blah" %>

  <%= x.submit %>
<% end %>