<!-- <h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p> -->


<h1>POSTS BY <%= @author.first_name  %></h1>
<br>

<%= @post.title  %>
<br>
<%= @post.category  %>
<br>
<%= @post.body  %>

<%= link_to "Edit Post", edit_post_path(@post) %>
<br>
<%= link_to "RETURN", author_posts_path(@author) %>