<!-- <h1>Authors#edit</h1>
<p>Find me in app/views/authors/edit.html.erb</p> -->



<center>
<h1>Edit This Author</h1>
<hr>

<%= form_for @author, url: "/authors/#{@author.id}", method: "PUT" do |x| %>
  <%= x.label :first %>
  <%= x.text_field :first_name, autofocus: true %>

   <%= x.label :last %>
  <%= x.text_field :last_name %>

   <%= x.label :age %>
  <%= x.text_field :age %>
<br>
  <%= x.submit :class=>"button btn btn-success btn-lg" %>

  <%= link_to "Delete Author", "/authors/#{@author.id}", method:"DELETE", data: {confirm: "You really want to delete this author"}, :class=>"button btn btn-danger btn-lg" %>
<% end %>
</center>