<!-- <h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p> -->

<center>
<h1>EDIT A POST HERE!</h1>

<hr>
<%= form_for [@author, @post], url: "/posts/#{@post.id}", method: "PUT" do |x| %>
  <%= x.label :title %>
  <%= x.text_field :title, autofocus: true %>

   <%= x.label :category %>
  <%= x.text_field :category %>

  

    <%= x.label :author_id  %>
  <%= x.text_field :author_id %><%= x.text_area :body, :class=>"body", :rows=> "10", :cols=> "60" %>
 
<br>
     <%= x.submit :class=>"btn btn-success btn-large" %>
  

  <%= link_to "Delete Post", "/posts/#{@post.id}", method:"DELETE", data: {confirm: "You really want to delete this post"}, :class=>" leftmar btn btn-danger btn-large"  %>
<% end %>
</center>